fastapi
uvicorn
ultralytics==8.3.235
opencv-python-headless
numpy
pandas
torch
torchvision
python-multipart
Pillow
torch==2.1.2+cpu
torchvision==0.16.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
